{% extends "base.html" %}
{% load staticfiles %}
{% block base %}


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">接口测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{ request.user }}</a></li>
                <li><a href="#">设置</a></li>
                <li><a href="/logout/">退出</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="/project/">
                        <i class="glyphicon glyphicon-th-large"></i>&nbsp&nbsp项目管理
                    </a>
                </li>
                <li>
                    <a href="/module/">
                        <i class="glyphicon glyphicon-th"></i>&nbsp&nbsp模块管理
                    </a>
                </li>
            </ul>
            <ul class="nav nav-sidebar">
                <li>
                    <a href="/testcase/">
                        <i class="glyphicon glyphicon-list-alt"></i>&nbsp&nbsp用例管理
                    </a>
                </li>
                <li>
                    <a href="/testtask/">
                        <i class="glyphicon glyphicon-th-list"></i>&nbsp&nbsp任务管理
                    </a>
                </li>
            </ul>
                <ul class="nav nav-sidebar">
                    <li  class="active" ><a href="/apk/">
                        <i class="glyphicon glyphicon-screenshot"></i>&nbsp&nbspAPK 管理</a>
                    </li>
                    <li  ><a href="/locustmanager/">
                        <i class="glyphicon glyphicon-random"></i>&nbsp&nbsplocust管理</a>
                    </li>
                    <li ><a href="/unittest/">
                        <i class="glyphicon glyphicon-random"></i>&nbsp&nbspunittest管理</a>
                    </li>
                </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h4 class="sub-header">上传apk任务页面</h4>
             <form>
{#                    <label>项目：</label>#}
{#                    <select class="form-control select2-selection--single" id="selectProject" style="width: 180px" >#}
{#                        <option value="0">请选择</option>#}
{#                    </select>#}
{##}
{#                    <label>模块：</label>#}
{#                        <select class="form-control select2-selection--single" id="selectModule" ,name="selectModule" style="width: 180px">#}
{#                    </select>#}

                    <div class="input-group" style="top:30px">
                        <span class="input-group-addon">名称描述</span>
                        <input  style="width: 31%" id="name_des" name="name_des" type="text" class="form-control">
                    </div>

                    <div style="margin-top:45px " >
                         <input type="file" id="uploadfile"  name="uploadfile" />
                    </div>

                    <div class="checkbox" style="margin-top:20px; ">
                        <label>
                            <input type="checkbox" id="chElt" onclick="CheckOrCancelAll();"/>
                            <span style="color:grey" id="mySpan">全选</span>
                            <br/>
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <p>测试类型:</p>
                        </label>
                        <label>
                          <input type="checkbox" name="apk_testtype" value="Apkinfo"/>apk info
                        </label>
                        <label>
                          <input type="checkbox" name="apk_testtype" value="Monkey"/>monkey
                        </label>
                        <label>
                          <input type="checkbox" name="apk_testtype" value="Seccheck"/>sec check
                        </label>
                        <label>
                          <input type="checkbox" name="apk_testtype" value="VirusScanning"/>VirusScanning
                        </label>
                     </div>

                    <div class="form-group">
                    </div>
                    <input  type="button"  value="上传" id="btnuploadapkfile">
                {% csrf_token %}
        </form>


    </div>


    <script src="{%static "js/jquery.min.js"%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/select2.min.css" %}">
    <script src="{%static "js/select2.min.js"%}"></script>
    <script src="{%static "js/myCase.js"%}"></script>
    <script src="{%static "js/myAPK.js"%}"></script>

<script type="text/javascript">


    SelectInit();
    //页面加载的时候,所有的复选框都是未选中的状态
    CheckOrCancelAll();
    // {## ajax处理form表单数据#}
    $('#btnuploadapkfile').click(function () {
            // var file_obj_tmp = document.getElementById("uploadfile").value;
            var testtypedata = [];
            var apk_testtype_el=document.getElementsByName("apk_testtype");
            for (var i =0 ;i<apk_testtype_el.length;i++){
                if (apk_testtype_el[i].checked){
                    testtypedata.push(apk_testtype_el[i].value)
                }
            }
            console.log("testtypedata ",testtypedata)

            var form_Data = new FormData()
            form_Data.append('module_id',$('select[id="selectModule"]').val());
            form_Data.append('name_des',$("#name_des").val());
            form_Data.append('apk_testtype',testtypedata);
            form_Data.append('file_obj',$("#uploadfile")[0].files[0]);
            if ('file_obj',$("#uploadfile")[0].files[0] == ""){
                alert("上传文件不能空，请选择！")
                return;
            }

            if (testtypedata == ""){
                alert("测试类型或名称描述必填项，请选择")
                {#return;#}
            }
            $.ajax({
                url:'/apk/save_uploadapkfile/',
                type:'post',
                contentType:false,
                processData:false,
                data:form_Data,
                success:function(data){
                    console.log(data)
                    window.alert(data.message);
                }
            })
        }
    )

</script>

{% endblock %}