{% extends "base.html" %}
{% block base %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">接口测试平台</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{request.user}}</a></li>
                    <li><a href="#">设置</a></li>
                    <li><a href="/logout/">退出</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li>
                        <a href="/project/">
                            <i class="glyphicon glyphicon-th-large"></i>&nbsp&nbsp项目管理
                        </a>
                    </li>
                    <li>
                        <a href="/module/">
                            <i class="glyphicon glyphicon-th"></i>&nbsp&nbsp模块管理
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li >
                        <a href="/testcase/">
                            <i class="glyphicon glyphicon-list-alt"></i>&nbsp&nbsp用例管理
                        </a>
                    </li>
                    <li>
                        <a href="/testtask/">
                            <i class="glyphicon glyphicon-th-list"></i>&nbsp&nbsp任务管理
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">

                    <li class="active" >
                        <a href="/locustmanager/">
                        <i class="glyphicon glyphicon-random"></i>&nbsp&nbsplocust管理</a>
                    </li>
                                        <li><a href="/unittest/">
                        <i class="glyphicon glyphicon-road"></i>&nbsp&nbspunittest管理</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


                <!--locustmanager-->
                <h4 class="sub-header">locust脚本管理
                    <h5 >共享目录 172.31.1.12 的/export/server/pref/ </h5>
                    <button type="button" class="btn btn-sm btn-primary" style="float: right;"
                            onclick="location.href='/locustmanager/add_locustfile/'">创建
                    </button>
                </h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>所属用户</th>
                            <th>项目</th>
                            <th>模块</th>
                            <th>脚本名称</th>
                            <th>host</th>
                            <th>是否加密</th>
                            <th>slave个数</th>
                            <th>存放路径</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for locustlist in locustlists %}
                            <tr>
                                <td>{{ locustlist.id }}</td>
                                <td>{{ locustlist.username }}</td>
                                <td>{{ locustlist.module.project }}</td>
                                <td>{{ locustlist.module }}</td>
                                <td>{{ locustlist.scriptname }}</td>
                                <td>{{ locustlist.host }}</td>
                                 {% if locustlist.encryption == 0 %}
                                    <td>不加密</td>
                                {% endif %}
                                {% if locustlist.encryption == 1 %}
                                    <td>加密</td>
                                {% endif %}
                                <td>{{ locustlist.slave_num }}</td>
                                <td>{{ locustlist.locustfile }}</td>
                                <td>{{ locustlist.create_time | date:"Y-m-d H:i:s" }}</td>
                                <td>
                                    <a href="/locustmanager/edit_locustlist/{{ locustlist.id }}/">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                    <a href="/locustmanager/delete_locustlist/{{ locustlist.id }}/" style="margin-left: 10px;">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- 分页器 -->
                <div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                {% if locustlists.has_previous %}
                                    <a href="?page={{ locustlists.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                {% endif %}
                            </li>

                            <li><a href="#">{{ locustlists.number }}</a></li>

                            {% if locustlists.has_next %}
                                <li>
                                    <a href="?page={{ locustlists.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}

                            <li><a href="#">共：{{ locustlists.paginator.num_pages }} 页</a></li>

                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>

{% endblock %}