<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <!-- 浏览器兼容性 -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
</head>
<body>
<form action="/index/" method="post">
    <p> username:
        <input type="text" name="username">
    </p>

    <p> password:
        <input type="password" name="password">
    </p>
    <div style="color: red">{{ error }}</div>
    <input type="submit" value="login">
    {% csrf_token %}
</form>

</body>
</html>